:root {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 400;
}

body {
    margin: 0px;
    background-color: rgb(204, 204, 204);
}

/* home */

#homeContent {
    position: absolute;
    height: 40%;
    width: 20%;
    top: 30%;
    left: 40%;

    /* border: 1px solid #0d0d0d; */
}

#homeContent center img {
    height: 200px;
}

#homeContent center button {
    position: relative;


    padding: 2%;
    font-weight: 500;
    border: 1px solid #0d0d0d;
    border-radius: 0px;
}

#autoria {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 2%;

    font-weight: 500;
    font-size: 1.3em;
}

#homebg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    filter: blur(2px);
    z-index: -1;
}

/* header */

#header {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 7%;
    width: 100%;
    
    background-color: #2b6777;
}

#menuLogo {
    position: absolute;
    height: 50%;
    margin: 1%;
    margin-left: 1%;
    z-index: 5;

    color: #f2f2f2;
}

#header center p {
    position: static;

    margin: 0.65%;
    font-size: 2vw;
    font-weight: 600;

    color: #f2f2f2;
}

#menu {
    position: absolute;
    top: 7%;
    left: 0px;
    height: 10%;
    width: 15%;

    display: none;
    z-index: 2;
}

#menu button {
    height: 33%;    
    width: 100%;
    border: 1px solid #0d0d0d;
    border-radius: 0px;
    margin: 0px;
}

/* ventas */

#content {
    position: absolute;
    height: fit-content;
    width: 70%;
    top: 7%;
    left: 15%;

    background-color: #f2f2f2;
}

#contentV {
    position: absolute;
    /* height: 93%; */
    height: fit-content;
    width: 70%;
    top: 7%;
    left: 15%;

    background-color: #f2f2f2;
}

#contentV center table, #content center table{
    margin: 2%;
    width: 50%;
    background-color: #f2f2f2;
}

#one {
    width: 40%;
}
    
#contentV center table tr td p, #content center table tr td p {
    margin: 5%;
    margin-right: 20%;
    margin-left: 10%;
}

#content center tr td input[type=radio] { /* For chechk too */
    border: 0px;
    width: 100%;
    height: 1em;
    width: 2em;
}

#content center tr td input[type=checkbox] { /* For chechk too */
    border: 0px;
    width: 100%;
    height: 1em;
    width: 2em;
}

#content center table tr td input, #contentV center table tr td input {
    width: 97%;
    height: 40px;
}

#content center table tr td select, #contentV center table tr td select {
    width: 100%;
    height: 40px;
}

#content center button, #contentV center button {
    margin: 2%;
    margin-top: 0px;
    width: 10%;
    padding: 0.7%;
    border-radius: 0px;
    border: 1px solid #0d0d0d;
}

#cartera {
    border: 1px solid #0d0d0d;
    background-color: #f2f2f2;
    width: 20%;
}

#cartera input {
    width: 80%;
    margin: 3%;
}

#cartera p {
    margin: 5%;
    margin-bottom: 1%;
}

#dbVentas, #dbPropiedades, #dbClientes, #dbVendedores, #dbCiudades, #dbBarrios {
    height: 200px;
    width: 70%;
}

#xbg {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;

    filter: blur(1px);

    z-index: -1;
}

/* Consulta 3 */

#transacciones {
    position: fixed;
    bottom: 0px;
    left: 15%;
    height: fit-content;
    width: 70%;

    font-family: 'Hind Madurai', sans-serif;
    display: none;

    background-color: #c8d8e4;
    border: 1px solid black;
    z-index: 2;
}

#transacciones table {
    position: relative;
    width: 80%;
    left: 10%;

    background-color: white;
}

#dbConsulta3 {
    height: 200px;
    width: 100%;
}

#x {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 35px;
    z-index: 3;
}

#transacciones p {
    position: relative;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    margin-top: 3%;
    margin-bottom: 0px;
    left: 10%;
}

#transacciones table p {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 1em;
    margin: 3%;
}

#consultaClientes {
    font-size: 1em;
    width: 100%;
    height: 30px;
}

#col {
    width: 30%;
}

#ventaCara, #filter {
    text-align: center;
    background-color: #c8d8e4;
    border: 1px solid black;

    display: none;
}

#ventaCara p, #filter .xcc {
    font-family: 'Hind Madurai', sans-serif;
    font-weight: 700;
    margin: 3%;
}

.xc {
    font-family: 'Hind Madurai', sans-serif;
    margin: 5%;
}

#ventaCara input, #filter input {
    margin: 3%;
}

#ventaCara input {
    width: 90%;
}

#sub {
    position: relative;
    margin-left: 25%;
    font-weight: 700;
    font-size: 1.2em;
    margin-bottom: 0px;
}

#dbFilter {
    height: 123px;
    width: 100%;
}

#filtrarBarrio {
    width: 100%;
    height: 40px;
    margin: 0px;
}

#MontoFiltro {
    width: 96%;
    height: 40px;
    margin: 0px;
}

#filter table {
    width: 90%;
    margin-left: 5%;
}

#xcol {
    width: 35%;
}